@media (max-width: 1499px) {

    .container {
        max-width: 1000px;
    }

    .hero {
        &__image {
            img {
                width: 60%;
                top: 40%;
                left: 35%;
            }
        }
    }
}