@media (max-width: 1499px) {

    .container {
        max-width: 1000px;
    }

    .hero {
        &__button {
            margin: 80px 0 80px 0;
        }
        &__image {
            img {
                width: 60%;
                top: 30%;
                left: 35%;
            }
        }
    }
}